.main-content {
  padding: 7.5rem 1rem 1rem 1rem;
  margin-left: 8.4rem;
  background-color: var(--gray-3);
  transition: margin-left 0.5s ease;
}

h3,
p,
h2 {
  text-align: center;
}

.profile-card {
  height: 25rem;
  .profile {
    background-color: var(--white);
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .profile-content {
    margin-top: -10rem;
    padding: 1rem 2rem;

    p {
      padding: 0.5rem;
    }
  }
}

.mails {
  margin-top: 4rem;
}
