*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login-body {
  height: 100vh;
  overflow: hidden;
}

html {
  // this defines what 1rem is
  font-size: 62.5%; // 1rem = 10px /16px = 62.5%

  @include respond(tab-port) {
    font-size: 55%; // 1rem = 10px /16px = 62.5%
  }
}

body {
  font-family: "Roboto", "Lato", sans-serif;
  font-weight: 300;
  color: var(--ash);
  background-color: var(--white);
}

p {
  font-size: 1.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
