.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .task-item {
    padding: 1rem;
    line-height: 2;
    display: block;
    width: 100%;
    &:not(:last-child) {
      border-bottom: 2px solid var(--gray-3);
    }
  }
  .task-text {
    display: block;
    position: relative;
    text-align: start;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-right: auto;

      &:nth-child(1) {
        right: 1rem;
      }
      &:nth-child(2) {
        right: 5rem;
      }
    }
  }
}

.users {
  margin-top: 4rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  // max-width: 72rem;
}

table {
  padding: 2rem;
  // margin: 2rem;
  font-size: 1.6rem;
  border-collapse: collapse;
  width: 50%;
  background-color: var(--white);
  border-radius: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;

  thead {
    background-color: var(--danger-color);
    color: var(--white);
  }
}
td,
th {
  text-align: start;
  padding: 1.5rem 2rem;
}
th {
  border-radius: inherit;
}

tr {
  padding: 1rem;
  line-height: 1.5;
  &:not(:last-child) {
    border-bottom: 2px solid var(--gray);
  }
}
