.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.col {
  width: 50%;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.content-row {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 6;
  width: 100%;
}

.text {
  margin: 4rem;
  color: var(--white);
}

.logout {
  margin-top: 10rem;
}
.user-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-col {
  background-color: var(--white);
  border-radius: 10px;
  &:nth-child(1) {
    width: 60%;
  }
  &:nth-child(2) {
    width: 40%;
    margin-left: 2rem;
  }
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.task-section {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
}

.approval {
  color: var(--blue-color);
  font-weight: 700;
  transition: 0.4s ease;

  &:hover,
  &:active {
    color: var(--success-color);
  }
}

.cancel {
  color: var(--danger-color);
}
